body {
    max-width: 100vw;
}
header, main, footer {
    margin: 1rem;
}
nav {
    display: flex;
    justify-content: center;
}
nav > a {
    margin: 0 0.5rem;
}
main {
    min-height: 100vh;
}
main > ol {
    list-style: none;
    padding-left: 0;
}
article > aside > ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;
}

@media(prefers-color-scheme: light) {
    .emgithub-file-dark {
        display: none!important;
    }
}

@media(prefers-color-scheme: dark) {
    .emgithub-file-light {
        display: none!important;
    }
}
